<h1>To-do List</h1>

<h2>Add item</h2>
<div>
  <label for="new-task"></label>
  <input type="text" [(ngModel)]="newTask" /> 
  <button type="submit" (click)="addTask()">Add</button>
</div>


<h2>To do</h2>
<div>

<ul>  
  <li *ngFor="let item of taskTodo; let i = index">
    <input (click)="taskTodo" type="checkbox" [(ngModel)]="isChecked"> 
    <span [ngClass]="{'stylish-element': isChecked == true}">{{ taskTodo[i] }}</span>
  </li>
</ul>
</div>


<!-- <h2>Completed</h2>

  <div>
  <ul>  
    <li *ngFor="let item of taskTodo; let i = index">
      <input (click)="taskTodo[i].isChecked = !taskTodo[i].isChecked" type="checkbox" [(ngModel)]="taskTodo[i].isChecked"> 
      <span [ngClass]="{'stylish-element': taskTodo[i].isChecked}">{{ taskTodo[i].name }}</span>
    </li>
  </ul>
</div>

<div>

  <ul>
    <li *ngFor="let item of taskDone; let i = index"><input (click)="clickCheck" type="checkbox" [(ngModel)]="isChecked"> {{ taskDone }}</li>
  </ul>
  </div> -->
